//- Все примеси в этом файле должны начинаться c имени блока (mangals)

mixin mangals(card)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +mangals('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' mangals--' + modsList[i].trim();
      }
    }

  li.mangals__card(class=allMods)&attributes(attributes)
    .mangals__card-inner.link(href= '#' + card.href)
      .mangals__content
        .mangals__info
          +carousel(card.images)
        h3.mangals__title!= card.title
        .mangals__advantages
          .mangals__price.mangals__row
            svg.mangals__icon
              use(href='/img/svgSprite.svg#' + card.icon)
            .
              #{card.price}
          //p.mangals__availability.mangals__row
            svg.mangals__icon
              use(href='/img/svgSprite.svg#' + card.icon)
            .
              #{card.availability}
          //p.mangals__guarantee.mangals__row
            svg.mangals__icon
              use(href='/img/svgSprite.svg#' + card.icon)
            .
              #{card.guarantee}
      .mangals__example
        block